<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <!--Import Google Icon Font-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet"> 
  <link href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Inconsolata&display=swap" rel="stylesheet"> 
  <link href="https://fonts.googleapis.com/css2?family=Flow+Block&display=swap" rel="stylesheet"> 
  <link href="https://fonts.googleapis.com/css2?family=Flow+Rounded&display=swap" rel="stylesheet"> 
  <link href="https://fonts.googleapis.com/css2?family=Flow+Circular&display=swap" rel="stylesheet"> 
  <link href="https://fonts.googleapis.com/css2?family=Grandstander:wght@100;200;400;500;600&display=swap" rel="stylesheet"> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta charset="utf-8">
  <title>{{ page.title }}</title>

  <link type="text/css" rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}" media="screen,projection" />
  <link rel="icon" type="image/png" href="/assets/img/logo.png" type="image/x-icon">

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
