<div class="navbar-fixed">
  <nav style="background: none;">
    <div class="nav-wrapper bg-light-ice">
      <ul class="left">
        <li><a href="{{site.url}}/hall-of-fame"><i class="material-icons dirty-white">emoji_events</i></a></li>
        <li><a href="{{site.url}}/"><i class="material-icons logo"><img class="responsive-img logo" id="logo" src="/assets/img/logo.png"/></i></a></li>
        <li><a href="{{site.url}}/events"><i class="material-icons dirty-white">sports_volleyball</i></a></li>
      </ul>
    </div>
  </nav>
</div>
