.navbar-fixed {
	height: 0;
}

.navbar-fixed nav {
	bottom: 0;
}

nav .nav-wrapper {
	display: flex;
	justify-content: center;
}

.nav-wrapper img.logo {
    height: 50%;
    margin-bottom: -5%;
}

nav i.logo {
	display: inline-block;
}

.logo-text {
	font-family: 'Montserrat', sans-serif;
}

html {
	font-family: 'Open Sans', sans-serif;
}

.table-of-contents a.active {
	border-left: 2px solid #d50000;
}

.table-of-contents a:hover {
	border-left: 1px solid #d50000;
}

.collection a.collection-item {
	color: #b71c1c;	
}

ul.section.table-of-contents.toc-pinned {
	background-color: rgba(255,255,255,0.5);
}

.card .no-space-top {
	margin-top: 0;
	padding-top: 0;
}

.input-field.col.s12 {
	padding-left: 0;
}

.input-field input[type=text]:focus + label {
	color: #212121 !important;
}

.input-field .prefix.active {
	color: #e53935 !important;
}

.input-field input[type=text]:focus {
	border-bottom: 1px solid #212121 !important;
	box-shadow: 0 1px 0 0 #212121 !important;
}

a {
	color: #212121;
}

.card.red-shadow {
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(230,0,0,0.12),0 1px 5px 0 rgba(230,0,0,0.2);
}

.material-icons.md-dark { color: #424242; }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }