.navbar-fixed {
	height: 0;
}

.navbar-fixed nav {
	bottom: 0;
}

nav .nav-wrapper {
	display: flex;
	justify-content: center;
}

.nav-wrapper img.logo {
    height: 50%;
    margin-bottom: -5%;
}

.card .header-slim{
	padding-top: 7px;
	padding-left: 7px;
	padding-right: 7px;
	padding-bottom: 2px;
	border-radius: 0.25rem;
	margin-bottom: 0px;
}

.card .content-slim{
	color: white;
}

img.logo-img {
	max-height: 36px;
}

nav i.logo {
	display: inline-block;
}

.logo-text {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}

.winter-text {
	color: rgba(153,176,245,1);
}

.dark-winter-text {
	color: rgba(122,147,196,1);
}

.logo-sub-text{
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}

.brawl-text {
	font-family: 'Lilita One', cursive;
}

html {
	font-family: 'Montserrat', sans-serif;
}

.table-of-contents a.active {
	border-left: 2px solid #d50000;
}

.table-of-contents a:hover {
	border-left: 1px solid #d50000;
}

.collection a.collection-item {
	color: black;	
}

ul.section.table-of-contents.toc-pinned {
	background-color: rgba(255,255,255,0.45);
}

.card .no-space-top {
	margin-top: 0;
	padding-top: 0;
}

.input-field.col.s12 {
	padding-left: 0;
}

.input-field input[type=text]:focus + label {
	color: #212121 !important;
}

.input-field .prefix.active {
	color: #e53935 !important;
}

.input-field input[type=text]:focus {
	border-bottom: 1px solid #212121 !important;
	box-shadow: 0 1px 0 0 #212121 !important;
}

.dropdown-content li > a, .dropdown-content li > span {
	color: #212121 !important;
}

.autocomplete-content li .highlight {
	color: #8A1212 !important;
}

a {
	color: #212121;
}

.card.red-shadow {
	color: #3C0000 !important;
	background-image: linear-gradient(to bottom right, rgba(255,255,255,6),rgba(255,255,255,0.8),rgba(255,255,255,0.7)),
					  linear-gradient(to bottom, rgba(230,0,0,0.1), rgba(255,255,255,0.8),rgba(255,255,255,0.7),rgba(255,255,255,0.6),rgba(255,255,255,0.6), rgba(230,0,0,0.2));
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 2px -2px rgba(230,0,0,1),0 1px 4px 0 rgba(230,0,0,0.8);
}

.card.yellow-shadow {
	color: #423500 !important;
	background-image: linear-gradient(to bottom right, rgba(255,255,255,0.5),rgba(255,255,255,0.5),rgba(255,255,255,0.9),rgba(255,255,255,0.7), rgba(255,202,0,0.1)),
					  linear-gradient(to bottom, rgba(255,202,0,0.1),rgba(255,255,255,0.4),rgba(255,255,255,0.5),rgba(255,255,255,0.3), rgba(255,202,0,0.1));
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 2px -2px rgba(255,202,0,1),0 1px 5px 0 rgba(255,202,0,0.8);
}

.card.purple-shadow {
	color: #371E37 !important;
	background-image: linear-gradient(to top, rgba(255,255,255,0.7),rgba(255,255,255,0.8),rgba(255,255,255,0.9)),
					  linear-gradient(to bottom, rgba(255,255,255,0.7),rgba(255,255,255,0.9),rgba(255,255,255,0.9), rgba(134,72,134,0.1));
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 2px -2px rgba(134,72,134,1),0 1px 5px 0 rgba(134,72,134,0.8);
}

.card.blue-shadow {
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(230,172,0,0.12),0 1px 5px 0 rgba(0, 58, 230,0.3);
}

.card.gray-shadow {
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(161,161,161,0.12),0 1px 5px 0 rgba(161,161,161,0.2);
}

.card.yellow-card {
	text-align: center;
	background-image: linear-gradient(to bottom right, rgba(255,213,51,1), rgba(255,202,0,1), rgba(255,202,0,1), rgba(255,202,0,1), rgba(255,213,51,1));
	color: rgb(70,59,17) !important;
	box-shadow: 0 4px 4px 0 rgba(0,0,0,0.14),0 6px 2px -4px rgba(230,172,0,0.12),0 2px 10px 0 rgba(230,172,0,0.2);
}

.card.yellow-card > a {
	color: rgb(70,59,17);
}

.card.blue-card {
	text-align: center;
	background-image: linear-gradient(to bottom right, rgba(153,176,245,1), rgba(153,176,245,1), rgba(189,205,249,1));
	color: white !important;
	box-shadow: 0 4px 4px 0 rgba(0,0,0,0.14),0 6px 2px -4px rgba(230,172,0,0.12),0 2px 10px 0 rgba(0, 58, 230,0.3);
}

.card.blue-card > a {
	color: white;
}

.card.dgl2-card {
	text-align: center;
	background-image: linear-gradient(to bottom right, rgba(198,140,140,1), rgba(248,206,101,0.7), rgba(138,18,18,1), rgba(138,18,18,1), rgba(138,18,18,1), rgba(138,18,18,1), rgba(30,4,4,1), rgba(30,4,4,0.7));
	color: white !important;
	box-shadow: 0 4px 4px 0 rgba(0,0,0,0.14),0 6px 2px -4px rgba(230,172,0,0.12),0 2px 10px 0 rgba(138, 18, 18,0.3);
}

.card.dgl2-card > a {
	color: white;
}

.card.dgl2-card-var2 {
	text-align: center;
	background-image: linear-gradient(to top right, rgba(198,140,140,1), rgba(248,206,101,0.7), rgba(138,18,18,1), rgba(138,18,18,1), rgba(138,18,18,1), rgba(138,18,18,1), rgba(30,4,4,1), rgba(30,4,4,0.7));
	color: white !important;
	box-shadow: 0 4px 4px 0 rgba(0,0,0,0.14),0 6px 2px -4px rgba(230,172,0,0.12),0 2px 10px 0 rgba(138, 18, 18,0.3);
}

.card.dgl2-card-var2 > a {
	color: white;
}

.card.dgl2-card-var3 {
	text-align: center;
	background-image: linear-gradient(to bottom left, rgba(198,140,140,1), rgba(248,206,101,0.7), rgba(138,18,18,1), rgba(138,18,18,1), rgba(138,18,18,1), rgba(138,18,18,1), rgba(30,4,4,1), rgba(30,4,4,0.7));
	color: white !important;
	box-shadow: 0 4px 4px 0 rgba(0,0,0,0.14),0 6px 2px -4px rgba(230,172,0,0.12),0 2px 10px 0 rgba(138, 18, 18,0.3);
}

.card.dgl2-card-var3 > a {
	color: white;
}

.card.dgl2-card-var4 {
	text-align: center;
	background-image: linear-gradient(to top left, rgba(198,140,140,1), rgba(248,206,101,0.7), rgba(138,18,18,1), rgba(138,18,18,1), rgba(138,18,18,1), rgba(138,18,18,1), rgba(30,4,4,1), rgba(30,4,4,0.7));
	color: white !important;
	box-shadow: 0 4px 4px 0 rgba(0,0,0,0.14),0 6px 2px -4px rgba(230,172,0,0.12),0 2px 10px 0 rgba(138, 18, 18,0.3);
}

.card.dgl2-card-var4 > a {
	color: white;
}

.divider.red-shadow{
	background-color: rgba(230,0,0,0.07);
	height: 2px;
}

.divider.yellow-shadow{
	background-color: rgba(230,172,0,0.12);
	height: 2px;
}

.divider.gray-shadow{
	background-color: rgba(161,161,161,0.12);
	height: 2px;
}

.divider.thin-gray-shadow{
	background-color: rgba(161,161,161,0.24);
	height: 1px;
}

.divider.thin-winter-shadow{
	background-color: rgba(122,147,196,0.24);
	height: 1px;
}

.full-width {
}

img.header-img{
	max-width: 250px;
	width: 100%;
	height: auto;
}

.center-header{
	justify-content: center;
}

.bg-lighter-gray{
	background-color: rgba(48,42,48,1) !important;
	color: white
}

.bg-light-gray{
	background-color: rgba(40,38,40,0.95) !important;
	color: white
}

.bg-light-ice{
	background-image: linear-gradient(to bottom right, rgba(153,176,245,1), rgba(153,176,245,1), rgba(189,205,249,1));
	color: white
}

.bg-dark-gray{
	background-color: rgba(40,38,40,1) !important;
	color: white
}

.bg-dark-gray-upper{
	background-image: linear-gradient(to bottom, rgba(40,38,40,1), rgba(66,65,66,1)) !important;
	color: white
}

.bg-darker-gray{
	background-color: rgba(32,28,32,1) !important;
	color: white
}

.bg-defense-grid{
	background-color: rgba(138,18,18,1) !important;
	color: white
}

.bg-ice{
	background-color: rgba(0,150,179,1) !important;
	color: white
}

.bg-dark-ice{
	background-color: rgba(0,129,154,1) !important;
	color: #DDEDF1
}

.bg-darker-ice{
	background-color: rgba(0,86,103,1) !important;
	color: white
}

.bg-semi-dark-red{
	background-color: rgba(174,71,51,1) !important;
	color: #F4E7E4
}

.bg-semi-dark-green{
	background-color: rgba(67,104,73,1) !important;
	color: #E5EAE7
}

.bg-semi-dark-flax{
	background-color: rgba(183,164,70,1) !important;
	color: #FBF8E9
}

.bg-semi-dark-purple{
	background-color: rgba(134,72,134,1) !important;
	color: #EEE7EE
}

.bg-pale-blue{
	background-color: rgba(106,153,166,1) !important;
	color: #EBF1F3
}

.bg-desert{
	background-color: rgba(165,94,54,1) !important;
	color: #F3E9E4
}

.bg-dark-purple{
	background-color: rgba(73,33,130,1) !important;
	color: #E7E1EE
}

.small-img {
	max-height: 300px;
}


.dirty-white{
	color: rgba(234, 243, 247, 0.95);
}

.padding-bottom-small{
	padding-bottom: 20px;
}

.material-icons.md-dark { color: #424242; }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

#clockdiv{
	color: #fff;
	display: inline-block;
	font-family: 'Inconsolata', sans-serif;
	font-weight: 100;
	text-align: center;
	font-size: 35px;
}

#clockdiv > div{
	padding: 4px;
	border-radius: 3px;
	background-image: linear-gradient(to bottom right, rgba(153,176,245,1), rgba(189,205,249,1)) !important;
	display: inline-block;
}

#clockdiv div > span{
	padding: 10px;
	border-radius: 3px;
	background-image: linear-gradient(to bottom right, rgba(255,255,255, 0.7), rgba(255,255,255,1)) !important;
	color: rgba(153,176,245,1);
	display: inline-block;
}

.clocktext{
	padding-top: 5px;
	font-size: 16px;
}

.center-modal {
	/*left: 50%*/
	top: 50% !important;
	transform: translate(0, -50%) !important;
}

.modal {
	width: 90%;
	max-height: 90%;
	background-color: transparent !important;
}