<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% include header.html %}
  </head>
  <body class="wb-bg-deep-ice">
    <script type="text/javascript" src="/assets/js/bin/materialize.min.js"></script>
    <script type="text/javascript" src="/assets/js/jquery-3.5.1.min.js"></script>
    {% assign previous_url = "" %}
    {% assign page_url = "" %}
    {% assign next_url = "" %}
    {% assign previous = "" %}
    {% for mode in site.data.winter-brawl.modes %}
    {% assign current = mode.url %}
    {% if mode.name == page.title %}
      {% assign previous_url = previous %}
      {% assign page_url = mode.url %}
    {% endif %}
    {% if previous == page_url %}
      {% assign next_url = mode.url %}
    {% endif %}
    {% assign previous = mode.url %}
    {% endfor %}
    <div class="navbar-fixed">
      <nav style="background: none;">
        <div class="nav-wrapper wb-nav-deep-ice">
          <ul class="left">
            {% if previous_url != ""%}
            <li><a href="{{site.url}}/events/winter-brawl/{{previous_url}}"><i class="material-icons dirty-white">west</i></a></li>
            {% else %}
            <li><a href="{{site.url}}/events/winter-brawl/{{page_url}}"><i class="material-icons dirty-white">fiber_manual_record</i></a></li>
            {% endif %}
            <li><a href="{{site.url}}/winter-brawl"><i class="material-icons logo"><img class="responsive-img logo" id="logo" src="/assets/img/logo.png"/></i></a></li>
            {% if next_url != "" %}
            <li><a href="{{site.url}}/events/winter-brawl/{{next_url}}"><i class="material-icons dirty-white">east</i></a></li>
            {% else %}
            <li><a href="{{site.url}}/events/winter-brawl/{{page_url}}"><i class="material-icons dirty-white">fiber_manual_record</i></a></li>
            {% endif %}
          </ul>
        </div>
      </nav>
    </div>
    <div>
      {% for mode in site.data.winter-brawl.modes %}
      {% if mode.name == page.title %}
      <div class="wb-text-deep-ice wb-header-bg" style="padding-top: 10px;">
          <div class="col s12 center-align wb-header-bg">
            <h2 class="wb-header-dark-text">{{page.title}}</h2>
          </div>
          {% if mode.description %}
          <div class="row wb-header-bg padding-bottom-small center-align">
              <div class="col s12 m5 offset-m1 l4 offset-l2">
                <img class="responsive-img medium-img" src="/assets/img/maps/{{mode.map}}">
              </div>
              <div class="col s12 m5 l4 left-align">
                  <p class="flow-text wb-text-2" style="margin-left: 20px; margin-right: 20px">{{mode.description}}</p>
              </div>
          </div>
          {% else %}
          <div class="row wb-header-bg padding-bottom-small center-align">
              <div class="col s12 offset-m3 m6 offset-l4 l4">
                <img class="responsive-img medium-img" src="/assets/img/maps/{{mode.map}}">
              </div>
          </div>
          {% endif %}
      </div>
      <div class="container"> 
          <div class="row">
              <div class="col s12 m12 l12">
                  <div class="col s12 m8 offset-m2 l10 offset-l1 center-align">
                      {% if mode.restrictions %}
                      <h4 class="wb-header-text wb-text-white">Brawlers</h4><br>
                      {% for restriction in mode.restrictions %}
                      <div class="col s4 m3 l2">
                          <img class="responsive-img" style="max-width:70px" src="/assets/img/restrictions/{{restriction}}.png" alt="{{restriction}}">
                      </div>
                      {% endfor %}
                      {% else %}
                      <h4 class="wb-header-text wb-text-white">All Brawlers Allowed</h4><br>
                      {% endif %}
                  </div>
              </div>
              <div class="col s12 m8 offset-m2 l10 offset-l1">   
                <br> 
                <div class="divider thin-gray-shadow full-width"></div>
                <br>
                <h4 class="center-align wb-header-text wb-text-white">Mechanics</h4><br>
                {% assign letters = "a, b, c, d, e, f, g, h, i, j, k, l, m, n, o, p, q, r, s, t, u, v, w, x, y, z" | split: ", " %}
                {% assign step_count = 0 %}
                {% for mechanics in mode.mechanics %}
                    {% assign step_count = step_count | plus: 1 %}
                    <h6 class="wb-text-2 wb-text-white"><b>{{step_count}}</b>. {{mechanics.step}}</h6>
                    {% assign substep_count = 0 %}
                    {% for substep in mechanics.substeps %}
                    &ensp;&ensp;<h7 class="wb-text-1 wb-text-white"><b>{{letters[substep_count]}}</b>. {{substep}}</h7><br>
                    {% assign substep_count = substep_count | plus: 1 %}
                    {% endfor %}
                    <br>
                {% endfor %}
                <br> 
                <br> 
                <br> 
              </div>
              <div class="col s12 m8 offset-m2 l10 offset-l1" style="position: relative;">   
                <div class="wb-credit">
                  <h7 class="wb-text-white">Design</h7>&ensp;<h7 class="logo-text wb-text-white">{{mode.map-creator}}</h7><br>
                  <h7 class="wb-text-white">Concept</h7>&ensp;<h7 class="logo-text wb-text-white">{{mode.map-concept}}</h7>
                  {% if mode.description %}
                  <br>
                  <h7 class="wb-text-white">Flavor</h7>&ensp;<h7 class="logo-text wb-text-white">{{mode.desc-creator}}</h7>
                  {% endif %}
                </div>
              </div>
          </div>
          <br><br><br>
      </div>
      {%endif%}
      {% endfor %}
    </div>
    {% include footer.html %}
  </body>
</html>
